USE [master]
GO
/****** Object:  Database [PatientData]    Script Date: 12-Aug-24 14:34:17 ******/
CREATE DATABASE [PatientData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PatientData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PatientData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PatientData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PatientData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PatientData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PatientData]
GO
/****** Object:  Table [dbo].[PatientData]    Script Date: 12-Aug-24 14:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientData](
	[id] [varchar](64) NOT NULL,
	[patient_code] [varchar](10) NOT NULL,
	[sensor_type] [varchar](20) NOT NULL,
	[timestamp] [datetime] NULL,
	[value] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PatientData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
